.footerDiv{
    // position: absolute;
    // bottom: 0;
    color: white;
    width: 100%;
    background-color: #E3E3E3;
    display: flex;
    // flex-direction: 
    // border: 2px solid black;
    justify-content: space-between;

}

.container{
    // border: 2px solid green;
    margin-left: 50px;
    margin-top: 20px;

    h4{
        // border: 2px solid green;
        text-align: center;
    }
}

.logoContainer{
    // border: 2px solid red;
    width: 220px;
    height: 72px;

    img{
        padding: 5px;
        height: 100%;
        width: 100%;
    }
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    // background-color: #1F2235;
    background-color: #E3E3E3;
    // border: 2px solid black;
    width: 40%;
    padding: 5px 0;
    color: white;
}


.socialIcons{
    display: flex;
    width: 30vw;
    margin-top: 10px;
    justify-content: space-evenly;
    // border: 2px solid green;
}

.icon{
    color: white;
    display: block;
    padding: 4px;
}

.links{
    // margin-top: 10px;
    // border: 2px solid red;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    li{
        margin: 10px;
        font-size: 1rem;
        list-style: none;

        &:hover{
            color: black;
        }
    }
}


